<div>
    <h3>
        {% if product_limit.has_previous %}
            <a href="?page={{ product_limit.previous_page_number }}"> << </a>
        {% else %}
            <span> << </span>
        {% endif %}

    <span>{{ product_limit.number }} - {{ product_limit.paginator.num_pages }}</span>

        {% if product_limit.has_next %}
            <a href="?page={{ product_limit.next_page_number }}"> >> </a>
        {% else %}
            <span> >> </span>
        {% endif %} 
    </h3>
</div>