{% extends 'Basic/MainPage.html' %}
{% load static %}
{% load mptt_tags %}

{% block title %}
    {% if product_detail %}
        {{ product_detail.name }}
    {% else %}
        Products
    {% endif %}
{% endblock title %}

{% block content %}
        {% if product_detail %}
            <h2>{{ product_detail.name }}</h2>
        {% else %}
            <h2>Detail page</h2>
        {% endif %}

            <p>Nested category branch:

                {% for nested_branch_category in nested.get_ancestors %}
                        <a href="{{ nested_branch_category.get_absolute_url }}">{{ nested_branch_category }}</a> /
                {% endfor %}</p>

        <div id="detail">
            {% if product_detail.image %}
                <img src="{{ product_detail.image.url }}" alt="{{ product_detail.name }}">
            {% else %}
                <img src="{% static 'Store/img/ImageNotFound.jpg' %}" alt="{{ product_detail.name }}">
            {% endif %}
            <h3>{{ product_detail.name }} - price: <strong>{{ product_detail.price }}$</strong></h3>

            <form action="{% url 'ShoppingCart:add_to_cart' product_detail.pk %}" method="post">
                {% csrf_token %}
                {{ add_product_to_cart }}
                <input type="submit" value="Add to cart">
            </form>

            <hr>
                <h2>Description</h2>
                <p>{{ product_detail.description|linebreaks }}</p>
            <hr>

        <p>Categories associated with the product</p>
            <a href="{% url 'Store:ProductList' %}">All categories</a><br>
            {% for nested_val in nested %}
                <a href="{{ nested_val.get_absolute_url }}">{{ nested_val }}</a><br>...
            {% endfor %}

    </div>
{% endblock content %}

