{% extends 'Basic/MainPage.html' %}
{% load static %}

{% block title %}Product detail{% endblock title %}

{% block content %}
    <h3>Shopping cart</h3>

            {% if cart %}
                {% for cart_item in cart %}
                    {% with product=cart_item.product %}

                        <a href="{{ product.get_absolute_url }}">
                            {% if product.image %}
                                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                            {% else %}C
                                <img src="{% static 'Store/img/ImageNotFound.jpg' %}" alt="{{ product.name }}">
                            {% endif %}
                        </a>
                        <a href="{{ product.get_absolute_url }}"><h2>{{ product.name }}</h2></a>
                        <strong>Quantity: {{ cart_item.quantity }}</strong><br>
                        <strong>Price: {{ cart_item.price }}$</strong><br>
                        <strong>Total price: {{ cart_item.full_price }}$</strong><br>
                        <a href="{% url 'ShoppingCart:remove_from_cart' product.pk %}">Remove product</a><br>
                        <hr>
                    {% endwith %}
                {% endfor %}
            {% endif %}
    <p>
        <a href="{% url 'Store:ProductList' %}" class="button light">Continue shop</a> |
        {% if cart|length > 0 %}
            <a href="{% url 'ShoppingCart:order_create' %}">To order</a>
        {% endif %}
    </p>
{% endblock content %}