{% extends 'Basic/MainPage.html' %}

{% block title %}Order registration{% endblock title %}

{% block content %}
    <h3>Order registration</h3>
    <hr>
    {% for cart_item in requested_cart %}
        <strong>
            quantity: {{ cart_item.quantity }}<br>
            product: <a href="{{ cart_item.product.get_absolute_url }}">{{ cart_item.product.name }}</a><br>
            price: {{ cart_item.price }}<br>
        </strong>
    {% endfor %}
    <h3>Total price: {{ requested_cart.full_price }}</h3>

    {% if order_creating_form %}
        <form action="" method="post">
            {% csrf_token %}
            {{ order_creating_form.as_p }}
            <input type="submit" value="Buy">
        </form>
        {% else %}
            <p>form not found</p>
    {% endif %}

{% endblock content %}